---
import MainLayout from "../layouts/MainLayout.astro";
const title = "Information";
import { summary, technologiesAlternative, certifications } from "../assets/data.json";
import Footer from "../components/Footer.astro";
---

<MainLayout title={title}>
    <div class="w-full h-full overflow-auto">
        <div class="w-full sm:w-full md:w-2/3 lg:w-3/5 mx-auto mt-6 px-5">
            <h1 class="text-3xl sm:text-3xl md:text-4xl lg:text-4xl font-semibold text-yellow-300 mb-4">
                A Little bit about myself...
            </h1>
            <hr class="my-4 border-yellow-300" />
            {
                summary.map((el) => {
                    return <p class="text-lg mb-1 ">{el}</p>;
                })
            }

            <h1 class="text-3xl sm:text-3xl md:text-4xl lg:text-4xl font-semibold text-yellow-300 mb-4 mt-4">
                My Growing Skillset...
            </h1>
            <hr class="my-4 border-yellow-300" />

            <div class="text-center">
                {
                    technologiesAlternative.map((el) => {
                        return (
                            <p class="inline-block px-4 py-2 bg-gray-800 rounded-full mx-2 my-1 border-2 border-yellow-300 hover:text-gray-900 hover:bg-yellow-300 font-semibold select-none">
                                {el}
                            </p>
                        );
                    })
                }
            </div>

            <h1 class="text-3xl sm:text-3xl md:text-4xl lg:text-4xl font-semibold text-yellow-300 mb-4 mt-4">
                Some Certifications that I have Ascertained...
            </h1>
            <hr class="my-4 border-yellow-300" />
            {
                certifications.map((el) => {
                    return (
                        <a
                            class="hover:decoration-yellow-300 underline decoration-white-300 block mb-2 text-lg"
                            href={el.link}
                            target="_blank"
                        >
                            <i class="inline-block">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="16"
                                    height="16"
                                    fill="currentColor"
                                    class="bi bi-link-45deg"
                                    viewBox="0 0 16 16"
                                >
                                    <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z" />
                                    <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z" />
                                </svg>
                            </i>
                            {el.title} ({el.acquired})
                        </a>
                    );
                })
            }


            <div
                class="mt-6 bg-gray-800 rounded p-4 flex justify-between items-center"
            >
                <div>
                    <p class="text-yellow-300 font-semibold">Check out my Resume</p>
                </div>
                <div class="flex gap-2">
                    <a href="/Pascoal Daniel Fernandes - Resume.pdf" target="_blank">
                        <button
                            class="w-full px-4 py-1 font-semibold rounded-full bg-yellow-300 text-gray-900"
                        >
                            <i
                                ><svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="16"
                                    height="16"
                                    fill="currentColor"
                                    class="bi bi-filetype-pdf"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.6 11.85H0v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474a1.4 1.4 0 0 0 .161-.677q0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H.788V12.48h.66q.327 0 .512.181.185.183.185.522m1.217-1.333v3.999h1.46q.602 0 .998-.237a1.45 1.45 0 0 0 .595-.689q.196-.45.196-1.084 0-.63-.196-1.075a1.43 1.43 0 0 0-.589-.68q-.396-.234-1.005-.234zm.791.645h.563q.371 0 .609.152a.9.9 0 0 1 .354.454q.118.302.118.753a2.3 2.3 0 0 1-.068.592 1.1 1.1 0 0 1-.196.422.8.8 0 0 1-.334.252 1.3 1.3 0 0 1-.483.082h-.563zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638z"
                                    ></path>
                                </svg></i
                            >
                        </button>
                    </a>
                    <a href="/Pascoal Daniel Fernandes - Resume.docx" target="_blank">
                        <button
                            class="w-full px-4 py-1 font-semibold rounded-full bg-yellow-300 text-gray-900"
                        >
                            <i>
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="16"
                                    height="16"
                                    fill="currentColor"
                                    class="bi bi-filetype-docx"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        d="M14 4.5V11h-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zm-6.839 9.688v-.522a1.5 1.5 0 0 0-.117-.641.86.86 0 0 0-.322-.387.86.86 0 0 0-.469-.129.87.87 0 0 0-.471.13.87.87 0 0 0-.32.386 1.5 1.5 0 0 0-.117.641v.522q0 .384.117.641a.87.87 0 0 0 .32.387.9.9 0 0 0 .471.126.9.9 0 0 0 .469-.126.86.86 0 0 0 .322-.386 1.55 1.55 0 0 0 .117-.642m.803-.516v.513q0 .563-.205.973a1.47 1.47 0 0 1-.589.627q-.381.216-.917.216a1.86 1.86 0 0 1-.92-.216 1.46 1.46 0 0 1-.589-.627 2.15 2.15 0 0 1-.205-.973v-.513q0-.569.205-.975.205-.411.59-.627.386-.22.92-.22.535 0 .916.22.383.219.59.63.204.406.204.972M1 15.925v-3.999h1.459q.609 0 1.005.235.396.233.589.68.196.445.196 1.074 0 .634-.196 1.084-.197.451-.595.689-.396.237-.999.237zm1.354-3.354H1.79v2.707h.563q.277 0 .483-.082a.8.8 0 0 0 .334-.252q.132-.17.196-.422a2.3 2.3 0 0 0 .068-.592q0-.45-.118-.753a.9.9 0 0 0-.354-.454q-.237-.152-.61-.152Zm6.756 1.116q0-.373.103-.633a.87.87 0 0 1 .301-.398.8.8 0 0 1 .475-.138q.225 0 .398.097a.7.7 0 0 1 .273.26.85.85 0 0 1 .12.381h.765v-.073a1.33 1.33 0 0 0-.466-.964 1.4 1.4 0 0 0-.49-.272 1.8 1.8 0 0 0-.606-.097q-.534 0-.911.223-.375.222-.571.633-.197.41-.197.978v.498q0 .568.194.976.195.406.571.627.375.216.914.216.44 0 .785-.164t.551-.454a1.27 1.27 0 0 0 .226-.674v-.076h-.765a.8.8 0 0 1-.117.364.7.7 0 0 1-.273.248.9.9 0 0 1-.401.088.85.85 0 0 1-.478-.131.83.83 0 0 1-.298-.393 1.7 1.7 0 0 1-.103-.627zm5.092-1.76h.894l-1.275 2.006 1.254 1.992h-.908l-.85-1.415h-.035l-.852 1.415h-.862l1.24-2.015-1.228-1.984h.932l.832 1.439h.035z"
                                    ></path>
                                </svg></i
                            >
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <Footer />
    </div>
</MainLayout>
