---
import {
    information,
    education,
    technologiesAlternative,
    summary,
    workExperience,
    achievements,
    considerationNote,
    certifications,
} from "../assets/data.json";
const title = "Resume";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <div class="w-[210mm] h-[297mm] mx-auto leading-snug overflow-hidden">
            <div class="flex items-center flex-nowrap mb-6">
                <div class="w-3/4">
                    <h1 class="text-4xl font-bold">
                        {information.firstName}
                        {information.middleName}
                        {information.lastName}
                    </h1>
                    <p
                        class="text-xl font-semibold underline italic text-gray-500"
                    >
                        {information.currentDesignation}
                    </p>
                </div>
                <div class="w-1/4">
                    <img
                        class="border rounded-md w-2/3 h-auto mx-auto"
                        src="/Picture1.jpg"
                        alt="Passport Photograph"
                    />
                </div>
            </div>

            <div class="grid grid-cols-7 grid-rows-1 border-t">
                <div class="col-span-5 border-r pr-4 pt-4">
                    <div class="">
                        <h2 class="text-2xl font-semibold pb-2">Summary</h2>
                        <p class="text-justify">{summary.join(" ")}</p>
                    </div>

                    <hr class="border my-4" />

                    <div class="mb-4">
                        <h2 class="text-2xl font-semibold pb-2">
                            Work Experience
                        </h2>
                        {
                            workExperience.toReversed().map((entry) => {
                                return (
                                    <div class="mb-4">
                                        <h2 class="text-lg font-semibold">
                                            {entry.companyName}
                                        </h2>
                                        <p>
                                            <em class="font-semibold underline">
                                                {entry.designation}
                                            </em>
                                        </p>
                                        <p class="text-sm italic text-gray-600 mb-2">
                                            <span>
                                                ({entry.start} - {entry.end})
                                            </span>
                                            <span> - </span>
                                            <span>{entry.duration}</span>
                                        </p>
                                        <ul class="list-disc ml-6">
                                            {entry.jobDescription.map(
                                                (subentry) => {
                                                    return (
                                                        <li class="mb-1 text-justify">
                                                            {subentry}
                                                        </li>
                                                    );
                                                },
                                            )}
                                        </ul>
                                    </div>
                                );
                            })
                        }
                    </div>
                </div>

                <div class="col-span-2 pl-4 pt-4">
                    <div class="text-center">
                        <p class="text-xs font-bold text-gray-600 mb-1">
                            {information.email}
                        </p>
                        <p class="text-xs font-bold text-gray-600 mb-1">
                            {information.phone.join(", ")}
                        </p>
                        <p class="text-xs font-bold text-gray-600 mb-1">
                            {information.website}
                        </p>
                    </div>

                    <hr class="border my-4" />

                    <div>
                        <h2 class="text-2xl font-semibold pb-2">Skills</h2>
                        <ul class="list-disc ml-6">
                            {
                                technologiesAlternative.map((entry) => {
                                    return (
                                        <li class="mb-1 text-sm">{entry}</li>
                                    );
                                })
                            }
                        </ul>
                    </div>

                    <hr class="border my-4" />

                    <div>
                        <h2 class="text-2xl font-semibold pb-2">
                            Certifications
                        </h2>
                        <ul class="list-disc ml-6">
                            {
                                certifications.map((entry) => {
                                    return (
                                        <li class="mb-1 text-sm">
                                            {entry.title}
                                        </li>
                                    );
                                })
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-[210mm] h-[297mm] mx-auto leading-snug overflow-hidden">
            <div>
                <h2 class="text-2xl font-semibold pb-2">Education</h2>
                <ul class="list-disc ml-6">
                    {
                        education.map((entry) => {
                            return (
                                <li class="mb-2">
                                    <h2 class="text-lg font-semibold leading-tight">
                                        {entry.degree}
                                    </h2>
                                    <p>
                                        <em class="font-semibold underline">
                                            {entry.institution}
                                        </em>
                                    </p>
                                    <p class="text-sm italic text-gray-600">
                                        ({entry.start} - {entry.end})
                                    </p>
                                    <p>{entry.score}</p>
                                </li>
                            );
                        })
                    }
                </ul>
            </div>

            <hr class="border my-4" />

            <div>
                <h2 class="text-2xl font-semibold pb-2">Achievements</h2>
                <ul class="list-disc ml-6">
                    {
                        achievements.map((entry) => {
                            return <li class="">{entry}</li>;
                        })
                    }
                </ul>
            </div>

            <hr class="border my-4" />

            <div>
                <h2 class="text-2xl font-semibold pb-2">Personal Details</h2>
                <div class="grid grid-cols-6 gap-y-1">
                    <p class="col-span-2">LinkedIn Profile:</p>
                    <p class="col-span-4">{information.linkedinProfileLink}</p>
                    <p class="col-span-2">Website:</p>
                    <p class="col-span-4">{information.homeAddress}</p>
                    <p class="col-span-2">Current Address:</p>
                    <p class="col-span-4">{information.currentAddress}</p>
                    <p class="col-span-2">Birth Date:</p>
                    <p class="col-span-4">{information.birthDate}</p>
                    <p class="col-span-2">Gender:</p>
                    <p class="col-span-4">{information.gender}</p>
                    <p class="col-span-2">Nationality:</p>
                    <p class="col-span-4">{information.nationality}</p>
                    <p class="col-span-2">Religion:</p>
                    <p class="col-span-4">{information.religion}</p>
                    <p class="col-span-2">References:</p>
                    <p class="col-span-4">{information.references}</p>
                    <p class="col-span-2">Visa Status:</p>
                    <p class="col-span-4">{information.visaStatus}</p>
                    <p class="col-span-2">Visa Expiry:</p>
                    <p class="col-span-4">{information.visaExpiry}</p>
                    <p class="col-span-2">Marital Status:</p>
                    <p class="col-span-4">{information.maritalStatus}</p>
                    <p class="col-span-2">Languages:</p>
                    <p class="col-span-4">{information.languages.join(", ")}</p>
                </div>
            </div>

            <hr class="border my-4" />

            <p class="text-center font-bold text-gray-700 italic">
                {considerationNote}
            </p>
        </div>
    </body>
</html>
